/* タブレット〜通常PC画面 */
@media screen and (min-width:768px){

/* ヘッダー */
/* --------------------------------------------- */
  .header {
    display: flex;
    height: 7.5rem;
    font-size: 1.4px;
    font-weight: 600;
  }

  .header__left {
    display: flex;
    align-items: flex-end;
    margin: 1rem;
    font-size: 1.4px;
  }

  .header__logo {
    width: 13rem;
  }

  .header__logo img {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  .header__text {
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .header__right {
    margin-left: auto;
    line-height: 7.5rem;
    margin-right: 3rem;
  }

  .form-Pc {
    display: block;
  }

  .form-Pc a{
    padding: 1.5rem 4rem 1.5rem 4rem;
    background-color: #cd7168;
    color: antiquewhite;
    font-size: 1.2rem;
    border-radius: 2.5rem;
  }
  
  .form-Sp {
    display: none;
  }

/* MainImage */
/* --------------------------------------------- */
  .MainImage {
    height: 50rem;
  }

  .MainImage__container {
    width: 40rem;
  }

  .MainImage__text p {
    font-size: 2.4rem;
    line-height: 2;
  }
  
}

/* PCフルサイズ画面 */
@media screen and (min-width:1024px){
  body {
    font-size: 2.0rem;
  }

/* ヘッダー */
/* --------------------------------------------- */
  .header {
    max-width: 1024px;
    margin: 0 auto;
  }

/* MainImage */
/* --------------------------------------------- */
  .MainImage__container {
    width: 40rem;
  }

  .MainImage__text p {
    font-size: 2.8rem;
    line-height: 2.2;
  }

  .MainImage__text h1 {
    font-size: 2rem;
  }

}

