/* タブレット〜通常PC画面 */
@media screen and (min-width:768px){

/* ヘッダー */
/* --------------------------------------------- */
  .header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #fff;
  }

  .header__inner {
    display: flex;
    height: 7.5rem;
    font-size: 1.4px;
    font-weight: 600;
  }

  .header__left {
    display: flex;
    align-items: flex-end;
    padding: 0 0 1.5rem 1.5rem;
    font-size: 1.4px;
  }

  .header__logo {
    width: 12rem;
  }

  .header__logo img {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  .header__text {
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .header__right {
    margin-left: auto;
    line-height: 7.5rem;
    margin-right: 3rem;
  }

  .headerform {
    display: block;
  }

  .header__form a{
    padding: 1.5rem 4rem 1.5rem 4rem;
    background-color: #cd7168;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 2.5rem;
  }
  
  .form-Sp {
    display: none;
  }

/* MainImage */
/* --------------------------------------------- */
  .MainImage {
    height: 50rem;
  }

  .MainImage__container {
    width: 40rem;
  }

  .MainImage__logo {
    width: 35rem;
    margin: 0 auto;
  }

  .MainImage__text p {
    font-size: 2.4rem;
    line-height: 2;
  }

  .MainImage__text h1 {
    font-size: 1.5rem;
  }
  
/* application */
/* --------------------------------------------- */
.application__container {
  height: 40rem;
}

.application__container--inner {
  width: 80%;
}

.application__container--text {
  margin: 1rem 0 1rem 0;
}

.application__form {
  height: 7.5rem;
}

.application__form br {
  display: none;
}

.application__container--text {
  font-size: 1.6rem;
}

.application__attention {
  margin-bottom: 0;
}

.application__container--offering {
  font-size: 1.8rem;
  line-height: 1.3;
}

.application__container--offering br {
  display: none;
}

/* introduction */
/* --------------------------------------------- */
.introduction__inner {
  margin: 0 auto;
  max-width: 900px;
}

.introduction__theme {
  margin: 3rem 0 3rem 0;
}

.parenthesis__title {
  white-space: nowrap;
  font-size: 2.4rem;
}

.introduction__text {
  font-size: 1.6rem;
}

.sp__br {
  display: none;
}

.sp__lfBlock {
  margin-bottom: 0;
}

}



/* ================================================ */
/* PCフルサイズ画面 */
@media screen and (min-width:1200px){
  body {
    font-size: 2.0rem;
  }

/* ヘッダー */
/* --------------------------------------------- */
  .header__inner {
    max-width: 1200px;
    margin: 0 auto;
  }

/* MainImage */
/* --------------------------------------------- */
  .MainImage__container {
    width: 40rem;
  }

  .MainImage__text p {
    font-size: 2.8rem;
    line-height: 2.2;
  }

  .MainImage__text h1 {
    font-size: 2rem;
  }

  /* application */
/* --------------------------------------------- */
 .application__container {
  height: 54rem;
  }

  .application__container--inner {
    width: 960px; 
    /* (1200px * 80% = 960px) */
  }

  .application__container--text {
    font-size: 2rem;
  }
  
  .application__attention {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }

  .application__form {
    height: 10rem;
    font-size: 2.6rem;
    margin-bottom: 7rem;
  }
  
  .application__container--offering {
    font-size: 2.1rem;
    line-height: 2;
    letter-spacing: 3px;
  }

/* introduction */
/* --------------------------------------------- */
  .parenthesis__title {
    white-space: nowrap;
    font-size: 2.8rem;
  }
  
  .introduction__text {
    font-size: 2rem;
  }

}

