/* 共通 */
/* --------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* モバイルファーストで記述 */
@media screen and (max-width:768px){

/* ヘッダー */
/* --------------------------------------------- */
.header {
  display: flex;
  font-size: 1rem;
  height: 6rem;
  font-weight: 600;
}

.header__left {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 1rem;
}

.header__logo {
  width: 9rem;
}

.header__logo img {
  width: 100%;
}

.header__text {
  margin-bottom: 0.5rem;
}

.header__right {
  margin-left: auto;
}

.form-Sp {
  display: flex;
  flex-direction: column;
  width: 8rem;
  padding: 1rem;
  background-color: #cd7168;
}

.form-Sp img {
  padding: 0 2rem 0.3rem 2rem;
  height: 3rem;
} 

.form-Sp a {
  color: aliceblue;
  text-align: center;
  font-weight: lighter;
}

.form-Pc {
  display: none;
}
}
/* MainImage */
/* --------------------------------------------- */
.MainImage {
  width: 100%;
  height: 31rem;
  background-image: url(../img/background/top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.MainImage__container {
  width: 30rem;
  height: 30rem;
  display: table;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.MainImage__container--inner {
  display: table-cell;
  vertical-align: middle;
}

.MainImage__text {
  font-weight: 600;
}

.MainImage__text p {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  letter-spacing: 3px;
  line-height: 1.5;
}

.MainImage__logo img {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}




